<h1>Login</h1>

<form {{on "submit" (perform this.signin)}}>

  <label for="email">Email</label>
  <input name="email" type="text" oninput={{action this.updateEmail}} required>

  <label for="password">Password</label>
  <input name="password" type="password" oninput={{action this.updatePassword}} required>

  <button type="submit" disabled={{this.disableSubmitBtn}}>Signin</button>
</form>

<div local-class="errors">
  {{#each this.errors as |error| }}
    {{error.detail}}
  {{/each}}
</div>

<LinkTo @route="signup">Signup</LinkTo>