<div local-class="signup">
  <h1>Signup</h1>

  <form local-class="form" {{on "submit" (perform this.signup)}}>

    <div local-class="group">
      <label local-class="label" for="email">Email</label>
      <input local-class="input" name="email" type="text" onchange={{action this.updateEmail}} required>
    </div>

    <div local-class="group">
      <label local-class="label" for="password">Password</label>
      <input local-class="input" name="password" type="password" onchange={{action this.updatePassword}} required>
    </div>

    <div local-class="group">
      <label local-class="label" for="confirm-password">Confirm password</label>
      <input local-class="input" name="confirm-password" type="password" onchange={{action this.updateConfirmPassword}}
        required>
    </div>


    <button local-class="signup-btn" type="submit">Signup</button>
  </form>

  <div local-class="errors">
    {{#each this.errors as |error|}}
      {{error.detail}}
    {{/each}}
  </div>

  <LinkTo local-class="login-link" @route="login">Login</LinkTo>
</div>